.flexslider { margin: 0; padding: 0; margin:0 auto;width:100%; height:500px; position:relative;}
.flexslider .loader{ position:absolute; left:50%; top:50%; z-index:3;}
.flexslider .loader img{ display:block; margin:-62px 0 0 -63px;}
.flexslider .slides li{ width:100%; height:500px; position:absolute;}
.flexslider .control-nav{position:absolute; width:100%; height:30px; text-align:center; bottom:10px; left:0; z-index:4;}
.flexslider .control-nav li{ display:inline-block; width:15px; height:15px; margin:0 10px; border-radius:10px; background:#fff; color:#fff; font-size:12px; cursor:pointer;}
.flexslider .control-nav li.focus{ background:#ed7a55; color:#ed7a55;}

/*头部*/

.selected{
  color:#ff3c3c;
}

.empty-list{
  background:#f5f5f5;
  color:white;
  font-size:18px;
  width:100%;
  margin-top:5px;
  border:1px solid #eee; text-align: center; padding-top:5px; display: inline-block;
  height:400px;
}
.empty-prompt{
  margin-top:150px;
  font-size:30px;
  color:lightgray;
}


.md-header{ height:100px; border-bottom:1px solid #f2f2f2;}
.nav{ width:710px;}
.nav li{padding:26px 2px; width:120px; float:left; text-align:center;}
.nav li a{ line-height:24px; font-size:14px; display:block;}
.nav li a span{-o-transition-property:color;
	-o-transition-duration:0.3s;
	-moz-transition-property:color;
	-moz-transition-duration:0.3s;
	transition-property:color;
	transition-duration:0.3s;}
.nav li a:hover span{ color:#ff3c3c;}
/*头部end*/
.md-banner{ width:100%;}
.md-banner li{ width:100%; height:500px; background:url(../images/banner.jpg) center;}
.md-about .title,.md-best .title{ height:40px; line-height:40px; border-left:5px solid #ff3c3c; padding-left:15px;}
.md-about .left{ width:350px; height:300px; border:5px solid #35b2e2;}
.md-about .left img{ width:350px; height:300px;}
.md-about .right{ width:600px; padding:10px; height:280px; position:relative;}
.md-about .right p{ line-height:40px;}
.md-about i{ position:absolute;}
.md-about i.icon-start{ left:10px; top:10px;}
.md-about i.icon-end{ right:10px; bottom:10px;}

.md-best .left{ width:587px;}
.md-best .right{ width:393px;}
.md-best li{ box-shadow:0 0 5px 1px #ccc;}
.md-best li i.icon-shadow-l{ position:absolute; bottom:-9px; left:0;}
.md-best li i.icon-shadow-r{ position:absolute; bottom:-9px; right:0;}
.md-best li .goodsinfo{ width:90%; height:40px; line-height:20px; padding:10px 5%; background:asset-url('opacity30.png'); position:absolute; bottom:0; left:0; font-size:12px; color:#fff; z-index:3; display:none;}

/*底部*/
.md-footer{ width:100%;}
.footer-up{ height:80px; padding:50px 0; width:100%; background:#f2f2f2; line-height:30px;}
.footer-up li.tel{ line-height:60px;}
.footer-up li.weixin{ position:absolute; width:130px; height:130px; right:0px; top:-25px;}
.footer-down{ height:54px; line-height:54px; width:100%; background:#9b9a9a; color:#fff;}
/*底部end*/


/*详情页*/
.md-goods{}
.md-goods .left{ width:420px;}
.md-goods .right{ width:560px;}
.md-goods .goods-price{ background:url(../images/goodsbg.png) top/ 100% auto; padding:20px; font-size:14px; }
.md-goods .goods-count span.f12{ line-height:28px;}

.count-op .reduce,.count-op .add{ width:26px; height:26px; border:1px solid #e5e5e5; background:#f8f8f8; position:relative; cursor:pointer;}
.count-op i{ display:block;  position:absolute;}
.count-op i.heng{width:10px; border-top:2px solid #a4a5a5; left:8px; top:12px;}
.count-op i.shu{ height:10px; border-left:2px solid #a4a5a5; left:12px; top:8px;}
.count-op .count-input{ width:70px; height:26px; border-width:1px 0; border-style:solid; border-color:#e5e5e5;}
.count-op .count-input input{ border:none; height:24px; line-height:24px; padding-left:10px; width:60px;}
.buybtn a{ display:block; width:180px; height:40px; text-align:center; line-height:40px; background:#c40000;}
.buybtn .input-sub{ display:block; width:180px; height:40px; text-align:center; line-height:40px; background:#c40000;}
.md-goodsbox {}
.md-goodsbox .left{ width:190px;}
.md-goodsbox .left .title{ height:28px; line-height:28px;}
.md-goodsbox .left li{ border:1px solid #eeeeee; padding:15px;}
.md-goodsbox .left li p{ margin-top:6px;}
.md-goodsbox .right{ width:790px;}
.md-goodsbox .right .title{ height:42px; border-width:1px 1px 2px; border-style:solid; border-color:#e5e5e5 #e5e5e5 #ff7300;}
.md-goodsbox .right .title span{ float:left; position:relative; top:-1px; left:-1px; height:45px; line-height:45px; width:120px; text-align:center;}
.md-goodsbox .right .cont{ border-width:0 1px 1px; border-style:solid; border-color:#e5e5e5;  overflow:hidden; width:770px; float:left; padding:9px;}
/*详情页end*/

/*列表页*/
.goods-list .item{ width:310px; margin-bottom:20px; margin-right:20px; float:left;}
.goods-list .item.last{ margin-right:0;}
.product-wrap{
  height:406px;
  width:305px; border:1px solid #eee; padding:6px;}
.product-wrap:hover{border: 4px solid #bc0000;
    margin: -3px;
    transition: border-color 0.2s ease-in 0s;}
.producttitle{ line-height:20px; height:40px;}
.productstatus em{ font-style:normal;}
.category-box{width:100%; border:1px solid #eee;font-size:14px; margin-top:5px;padding-bottom:3px}
.category-item{width:15%;
  background-color: #eee;
  color:grey;
  margin-top:5px;
  

  border:1px solid #eee;height:24px; text-align: center; padding-top:5px; margin:3px;display: inline-block}

.category-item:hover{ background:#ff7300; color:white}
.category-item-active{ background:#ff7300;color:white}
.category-item-active:hover{ color:white}

/*列表页end*/


/*登陆页*/
.md-login{ margin:30px auto;}
.md-login .left{ width:435px;}
.md-login .left img{ display:block; margin:0 auto;}
.md-login .right{ width:350px; padding-right:80px}
.login-box{ border:1px solid #cccccc; padding:20px; margin-top:25px; border-radius:5px; box-shadow:#ccc 2px 5px 5px;}
.login-box label{ font-weight:bold; display:block; line-height:24px;}
.login-box input{ border:1px solid #cbcbcb; padding:5px; height:16px; line-height:16px; display:block; width:296px; border-radius:2px;}
.login-box .submit button{ display:block; width:100%; border:none; padding:5px; text-align:center; background:#c50000; color:#fff; border-radius:2px; cursor:pointer;}
.login-box .submit button:hover{ background:#e40002;}
.error-message{ border:1px solid #ff8080; background:#fff2f2; line-height:20px;}
.reg{margin-top:5px}


/*注册页*/
.reg-box{ margin-top:20;}
.validcode{ position:relative;}
.validcode button{ position:absolute; right:0px; bottom:0px; width:auto; padding:0 10px; height:28px; background:#38b0e5; color:#fff; line-height:28px; vertical-align:middle; text-align:center; border:none; cursor:pointer;}
.validcode button:hover{ background:#55c3f1;}
.login-box .resub{margin-top:20px; display:block; width:100%; border:none; padding:5px; text-align:center; background:#c50000; color:#fff; border-radius:2px; cursor:pointer;}
.login-box .errmsg{margin-top:20px; color: red}
.validcode button.disabled{ background:#ccc;}
.errmsg{font-size: 12px; color: red; padding-top:3px}



/*用户中心*/
.md-profile{ margin:30px auto;}
.md-profile #submitbtn{ margin-top: 12px; margin-bottom:12px; display:block; height:30px;width:50%; border:none; padding:5px; text-align:center; background:#c50000; color:#fff; border-radius:2px; cursor:pointer;}
.md-profile .left{ width:285px;}
.md-profile .left img{ display:block; margin:0 auto;}
.md-profile .right{ width:550px; padding-right:80px}
.profile-box{ border:1px solid #cccccc; padding:20px; margin-top:25px; border-radius:5px; box-shadow:#ccc 2px 5px 5px;}

.profile-box label{ font-weight:bold; display:block; line-height:24px; margin-bottom:3px}
.profile-box input{ border:1px solid #cbcbcb; padding:5px; height:16px; line-height:16px; display:block; width:296px; border-radius:2px; margin-bottom:10px}
.profile-box .btn{ margin-top: 12px; margin-bottom:12px; display:block; height:30px;width:50%; border:none; padding:5px; text-align:center; background:#c50000; color:#fff; border-radius:2px; cursor:pointer;}
.profile-box .btn:hover{ background:#e40002;}



.profile-box .link{ font-size:12px; border:1px solid #cbcbcb; padding-top:5px; height:30px; line-height:16px; display:block; width:296px; border-radius:2px; margin-bottom:10px}

.profile-box .logout{ margin-top: 12px; margin-bottom:12px; display:block; height:30px;width:50%; border:none; padding:2px; text-align:center; background:#DDDDDD; color:black; border-radius:2px; cursor:pointer;}
.profile-box .logout:hover{ background:#e0e0e0;}


/*囤货管理*/
.md-store{ margin:30px auto;}
.md-store .left{ width:335px;}
.md-store .left img{ display:block; margin:0 auto;}
.md-store .right{ width:550px; padding-right:80px}
.store-box{ border:1px solid #cccccc; padding:20px; margin-top:25px; border-radius:5px; box-shadow:#ccc 2px 5px 5px; margin-bottom:10px}

.store-box label{ font-weight:bold; display:block; line-height:24px; margin-bottom:3px}
.store-box input{ border:1px solid #cbcbcb; padding:5px; height:16px; line-height:16px; display:block; width:296px; border-radius:2px;}
.store-box .btn{ margin-top: 12px; margin-bottom:12px; display:block; height:30px;width:50%; border:none; padding:5px; text-align:center; background:#c50000; color:#fff; border-radius:2px; cursor:pointer;}
.store-box .btn-small{width:40%}
.store-box .btn:hover{ background:#e40002;}
.store-box .comment {margin-bottom:10px}



.store-box .link{ font-size:12px; border:1px solid #cbcbcb; padding-top:5px; height:30px; line-height:16px; display:block; width:296px; border-radius:2px; margin-bottom:10px}


/*用户中心title*/
.login_reg,.login_info{ position:absolute; right:0; top:28px; padding:15px 15px; border:1px solid #dfdfdf; background:#f9f9f9;}
.login_reg{}
//.login_info2{ position:absolute; right:2; top:28px; padding:10px 15px; border:1px solid #dfdfdf; background:#f9f9f9;}
.cart{margin-bottom:4px}
.red{color:#c50000}




.login_info{ padding:5px 15px;}
.userinfo .submit button{ width:308px;}
.userinfo .exit button{ background:#ccc;}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}


.head-title
{margin-bottom: 10px}



/*购物车*/
.md-cart th{ padding-bottom:20px; text-align:left; padding-left:10px;}
.md-cart td{ padding:10px 0 10px 10px; margin:0; border-bottom:10px solid #fff;}
.md-cart tbody{ background:#fff4e8;}
.md-cart .gdsname{ max-width:270px; margin-left:10px; line-height:24px;}
.md-cart .tips{ position:absolute; left:0px; top:-22px; width:124px; height:20px; line-height:20px; border:1px solid #fce3a6; background:#fffdea; text-align:center; color:#ff8c11;}
.md-cart .panel{height: 300px;
  text-align: center;}


.city-group {
  margin:10px;
  display: inline-block;
}

.city-group-req {
  margin-left:27px;
  display: inline-block;
}

.address-group{
  font-size: 12px;
  display: inline-block;
}

.detail-title{
//  margin-left:3px;
  margin-right:5px;
  font-size:12px;
  display: inline-block;
  width:80px;
}

.detail-phone{
  margin-left:8px;
}



.detail-info{

  font-size:12px;
  display: inline-block;
}

.address-info{margin-bottom:15px;}


.city-select{
  margin:10px;
}




.md-cart .buybtn {color:white; display:block; width:180px; height:40px; text-align:center; line-height:40px; background:#c40000; right:0; display: inline-block;margin-right:10px}

/*订单页*/
.order-list{ display: block;
  height: 484px;
  border-width: 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;

}
.order-list .order-hd{ line-height:32px;}
.order-list table{ border:1px solid #ddd;}
.order-list th{ background:#f3f3f3; padding-left:40px; line-height:32px; font-size:12px; text-align:left;}
.order-list td{ border-top:1px solid #ddd; line-height:20px; padding:10px 0 10px 40px; font-size:12px;}
.order-list td img{ margin-right:5px;}
.order-info{ border-width:0px 1px 1px; border-style:solid; border-color:#ddd; padding:20px;}
.order-info .left{ width:378px; line-height:30px;}
.order-info .text{ width:280px; padding:5px; line-height:20px; height:80px;}
.order-info .right{ width:580px; text-align:right;}
.order-info .integral{ width:50px; padding:5px 10px; border:1px solid #ddd;}
.order-info .payment {font-size: 16px}
.order-info .highlight {color: #c40000}


/*囤货页*/
.store-title{
  font-size:13px;
  color: #c40000;
}

.person-id{
  margin-bottom:15px;
}

#error-msg{
  margin-top:1px;
  margin-bottom:2px;
  margin-left:84px;
  display:block;
}
.store-no{display: inline}
.store-level{ display: inline; margin-left:30px}

.left-comment{
//  border:1px solid #ddd;
  width:450px;
}

.reject-title{
  font-size:14px;

  margin-bottom:6px;
  margin-top:6px;
}
.reject-info{
  font-size:14px;
  border:1px dashed grey;
  color:#c40000;
  width:50%;

}

.left-comment .title{
  margin:10px;
  font-size:15px;
  font-color: gery;
}



.store-cart{width:15%;
//  background:#ff7300;
  color:#ff7300;
  font-size:12px;
  margin-left:50px;
  margin-top:5px;
  border:1px solid #ff7300;height:24px; text-align: center; padding-top:5px; display: inline-block}


.store-cart-active{width:15%;
    background:#ff7300;
  color:white;
  font-size:12px;
  margin-left:50px;
  margin-top:5px;
  border:1px solid #eee;height:24px; text-align: center; padding-top:5px; display: inline-block}

.store-cart-active a {
  color:#eee;
}

.store-cart-active a:hover{
  color:#808080;
}

.store-cart a{
  color:#ff7300;
}

.store-cart a:hover{
  color:#808080;
}

.store-list{
  margin-left:10px;
  display: inline-block;}


.address-list{
  display:none;
  margin-top:20px;
}

.address-empty{
  display:none;
}

.address-area{
  display: none;
}

.order-paginate{
  float:right;
  margin-top:10px;
  margin-right:80px;
  font-size:14px;
  padding-right:80px;
}

.order-paginate a, .order-paginate span, .order-paginate em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }

.order-paginate .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }

.order_paginate .disabled {
  color: #999999;
  border: 1px solid #dddddd; }


.order_paginate a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.order_paginaten a:hover, .order_paginate a:focus {
  color: #000033;
  border-color: #000033; }
.order_paginate .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.order_paginate .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.order_paginate:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .order_paginate {
  height: 1%; }
*:first-child + html .order_paginate {
  overflow: hidden; }


.payment{
  float:right;
}








.orders{width:15%;
  //  background:#ff7300;
  color:#ff7300;
  font-size:18px;

  margin-top:5px;

  padding:15px;
  border:1px solid #ff7300;height:24px; text-align: center;  display: inline-block}


.orders-active{width:15%;
  background:#ff7300;
  color:white;
  font-size:18px;

  margin-top:5px;
  padding:15px;
  border:1px solid #eee;height:24px; text-align: center; display: inline-block}

.orders-active a {
  color:#eee;
}

.orders-active a:hover{
  color:#808080;
}

.orders a{
  color:#ff7300;
}

.orders a:hover{
  color:black;
}

.orders-history{
  margin-left: 15px;
}

.err-info
{
  margin-left:10px;
  display: inline-block;
  color:white;
}


.error-area{
  display:block;
  border:1px solid #eee;
  margin-bottom: 15px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  background-color: #c40000;
  color:white;
}

.forget{
  float:left;
}


.sm-btn{
  font-size:11px;
  height:36px;
  width:176px;
  border: 2px inset;
  color:white; display:block;
  width:176px; height:36px; text-align:center; line-height:40px; background:#c40000; right:0; display: inline-block;margin-right:10px;
}

.sm-btn a:hover{
  color:white;
}

.address-empty{
  width:45%;
  border:1px solid #eee;
  margin-top:10px;
  font-size:18px;
  color:#c40000;
}

.agents{
  margin-top:10px;
}

.agents .agents-phone{
  margin-left:5px;

}


.agents .agents-name{
  margin-left:30px;

}

.agent{
  border:1px solid #eee;
  width:30%;

}

.store-detail-title
{
  padding-left:10px;
  font-size: 14px;
  color:#c40000;
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
}
.store-detail-back{
  float:right;
}
.store-detail-back{

  font-size:14px;
  margin-top:10px;
  margin-right:10px;
  color:blue;
}

.agent-phone{
 display: inline-block;
}


.agent-name{
  display: inline-block;
  margin-left:70px;

}
